package config

// Use this template to setup your config with your AlphaVantage key
func GetKey() (key string) {
	key = ""
	return key
}

// Use this template to setup your config with your request Stock Symbols
func GetSymbols() (symbols []string) {
	symbols = []string{}
	return symbols
}